

html {
  height: 100%;
}
body{
  margin: 100px;
  padding:100px;
  font-family: sans-serif;
   background:#f7f8fc;
}

.login-box {
  position: absolute;
  margin-top: 80px;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
   background: rgba(231, 224, 224, 0.5); 
  border: 2px solid #2f2f2f;
  box-sizing: border-box;
  /* box-shadow: 0 15px 25px rgba(0,0,0,.6); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


 .login-box {
  position: relative;
}

.login-box input {
  width: 100%;
  /*padding: 10px 0;*/

  font-size: 21px;
  
  
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #0e0d0d;
  outline: none;
  background: transparent;
}


.login-box input:focus ~ label,
.login-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

 
button{
  width: 270px;
  height: 40px;
  border: none;
  outline: none;
  background: #424141;
  color:#e4eaf0;
  margin-left: 17px ;
  font-size: 19px;
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 10px;
}
label#text{
  color: #0e0d0d;
  font-size: 21px;
}

